*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container{
    display: flex;
}

.main{
    width: 100%;
    padding: 20px;
}

.sidebar{
    background-color: #000;
    color: #fff;
    height: 100vh;
}
.top-section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    margin-left: 30px;
    font-size: 25px;
}